

<!-- Напишите extends здесь -->
{% extends "base.html" %}
<!-- Напишите block content здесь -->
    {% block content %}
    <div class="text-center py-3">
        <h1>Библиотека цитат</h1>
        <a href="/parse" class="btn btn-primary mt-2">Обновить данные</a>
    </div>

    <div class="row mt-4">
        
        <!-- НАЧАЛО ЦИКЛА (напишите код здесь) -->
        {% for quote in quotes %}
            <div class="col-md-6 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>{{ quote.text }}</p>
                            <footer class="blockquote-footer">{{ quote.author }}</footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        {% endfor %}   
        <!-- КОНЕЦ ЦИКЛА -->
        
    </div>
    {% endblock %}
<!-- Закройте block content здесь -->